<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_book"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_book"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentHub">

        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditstudentActivity"
            android:exported="false" />
        <activity
            android:name=".StudentRecordsActivity"
            android:exported="false" />
        <activity
            android:name=".ViewstudentActivity"
            android:exported="false" />
        <activity
            android:name=".AddStudentActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".AnnouncementsActivity"
            android:exported="false" />
        <activity
            android:name=".ELearningActivity"
            android:exported="false" />
        <activity
            android:name=".TimetableActivity"
            android:exported="false" />
        <activity
            android:name=".GpaActivity"
            android:exported="false" />
        <activity
            android:name=".CourseRegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".FeesActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.StudentHub" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>